  .carousel-container {
      height: auto;
      width: auto;
      position: relative;
      background-color: #181818;
      min-height: auto;
      width: 100%;
      padding: 60px 0 60px 12px;


      h2 {
          color: #f5752b;
          font-size: 36px;
          line-height: 1.2;
          margin: 0 0 60px;
          text-align: left;
      }

      .swiper-carousel-content {
          display: block;
          background-color: #f5f5f5;
          text-decoration: none;
          color: #181818;
          padding: 24px 0;
          border-top: 2px solid #f5752b;
          border-bottom: 2px solid #f5752b;
          border-radius: 3px;
          transition: width 350ms ease;
          height: 513px;

          .swiper-super-deals-img {
              min-height: 300px;
              width: 60%;
              max-width: 200px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 0 auto;



              img {
                  width: 100%;
                  max-width: 100%;
                  margin: 0 auto;

              }
          }

          .swiper-super-deals-info {
              padding: 36px 24px 0;
              text-align: left;

              p {
                  font-size: 18px;
                  font-weight: 400;
              }

              #price {
                  text-decoration: line-through;
                  font-weight: 200;
              }

              #sale-price {
                  color: #c90000;
                  font-size: 20px;
                  font-weight: 600;
              }
          }
      }

      .swiper-button-prev,
      .swiper-button-next {
          display: none;
      }
  }

  @media screen and (min-width: 768px) {
      .carousel-container {
          padding: 60px 12px;

          .swiper-carousel-content {
              display: block;
              background-color: #f5f5f5;
              text-decoration: none;
              color: #181818;
              padding: 24px 0;
              border-top: 2px solid #f5752b;
              border-bottom: 2px solid #f5752b;
              border-radius: 3px;
          }

          .swiper-button-prev,
          .swiper-button-next {
              display: block;
              background-color: #181818;
              border-radius: 50%;
              width: 54px;
              height: 54px;
              color: #ffffff;

              svg {
                  width: 12px;
              }
          }

          .swiper-button-disabled {
              display: none;
          }
      }
  }


  @media screen and (min-width: 1024px) {
      .carousel-container {
          .swiper {
              padding: 24px 0;
              max-width: 1400px;

              .swiper-carousel-content {
                  transition: transform 250ms ease;

                  &:hover {
                      transform: translateY(-5px);
                  }
              }
          }
      }
  }