footer {
    padding: 50px 16px;
    width: 100%;
    height: auto;
    background-color: #181818;

    .footer-about-contact {
        display: flex;
        flex-direction: column;
        width: 100%;

        .additional-info {
            width: 100%;

            .footer-logo-img {
                width: 150px;

                img {
                    width: 100%;
                }
            }

            .info-section {
                padding: 0 0 28px;

                p {
                    display: flex;
                    align-items: center;
                    padding: 8px 0;
                    color: #fff;

                    svg {
                        margin-right: 12px;
                    }

                }
            }

            .auth-links {
                width: 100%;

                button {
                    display: block;
                    border: none;
                    background-color: #efdd54;
                    padding: 12px 0;
                    width: 100%;
                    // max-width: 300px;
                    margin: 0 0 24px;

                    a {
                        text-decoration: none;
                        color: #000000c1;
                    }
                }

            }
        }

        .about-section {
            width: 100%;
            padding: 16px 0;

            p {
                font-weight: 400;
                font-size: 18px;
                color: #fff;
            }

            a {
                display: block;
                text-decoration: none;
                // color: #000000c1;
                color: #fff;


                padding: 8px 0;
            }
        }

        .contact-info {
            width: 100%;
            padding: 16px 0;

            .contact {
                margin-bottom: 8px;
                font-weight: 400;
                font-size: 18px;
                color: #fff;

            }

            .contact-link {
                // font-size: 22px;
                display: flex;
                align-items: center;
                margin-bottom: 18px;
                color: #fff;


                svg {
                    font-size: 16px;
                    margin: 0 12px 0 0;
                }
            }
        }

    }

    .social-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .social-info-icons {
            display: flex;
            margin-bottom: 34px;

            .social-icons {
                width: 50px;
                height: 50px;
                background-color: #f2f2f2;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 12px;

                svg {
                    font-size: 18px;
                }
            }

        }

        .org {
            width: 100%;
            display: flex;
            justify-content: center;

            .org-name {
                margin-right: 16px;
                color: #fff;

            }

            .orgnr{
                font-weight: 300;
                color: #fff;

            }
        }

    }
}

@media screen and (min-width: 768px) {
    footer {
        .footer-about-contact {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0 auto;
            padding: 25px 0;

            .additional-info {
                width: 33%;
                padding: 12px 54px 0;

                .footer-logo-img {
                    width: 150px;

                    img {
                        width: 100%;
                    }
                }

                .info-section {

                    p {
                        font-size: 16px;

                        svg {
                            font-size: 16px;

                        }

                    }
                }

                .auth-links {
                    width: 100%;

                    button {
                        max-width: 300px;
                    }
                }
            }

            .about-section {
                width: 33%;
                padding: 0 54px;

                a {
                    font-size: 16px;

                    &:hover{
                        color: #f5752b;
                    }
                }
            }

            .contact-info {
                width: 33%;

                padding: 0 54px;

                .contact {
                    margin-bottom: 8px;
                    font-weight: 400;

                }

                .contact-link {
                    font-size: 16px;

                    svg {
                        font-size: 16px;
                    }

                    &:hover{
                        color: #f5752b;
                        cursor: pointer;
                    }
                }
            }

        }

        .social-info {
            .social-info-icons {
                .social-icons {
                    cursor: pointer;
                    transition: background-color 250ms ease-in-out;

                    &:hover {
                        background-color: #f5752b;
                    }
                }

            }

        }
    }


}