.products-container {
    .show-messages-errors {
        background-color: #fafafa;
        width: 100%;
        padding: 28px 16px;
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    
        .be-msg {
            display: flex;
            justify-content: center;
            
            margin-bottom: 28px;


            svg {
                fill: #ff0000;
                font-size: 28px;
                margin-right: 5px;
            }

            p {
                color: #ff0000;
                font-size: 18px;
            }
        }

        .fe-msg {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p {
                font-size: 18px;
                max-width: 350px;
                text-align: center;
            }

            a {
                font-size: 18px;
                color: #000;
                text-decoration: none;
                border-bottom: 1px solid transparent;
                font-weight: 300;
                margin-top: 8px;
    
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .products-container {
        .show-messages-errors {
            .be-msg {
                svg {
                    font-size: 20px;
                }
            }
    
            .fe-msg {
                p {
                    font-size: 16px;
                }
    
                a {
                  transition: border-bottom 350ms ease-in-out;

                  &:hover{
                    border-bottom: 1px solid #efdd54;
                  }
        
                }
            }
        }
    }  
}