@use "./nav/navbar";
@use "./auth//resetpwd";
@use "./home/home";
@use "./products/products";
@use "./products/product";
@use "./cart/cart";
@use "./products/NewProduct";
@use "./auth/authScss";
@use "./auth/profile.scss";
@use "./about";
@use "./contact";
@use "./footer";
@use "./cart/checkout";
@use "./productFilter";
@use "./pagination.scss";
@use "./showMessagies";
@use "./pageNotFound";
@use "./success";
@use "./cart/confirmDeleteProduct";
@use "./auth/orderDetails";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    // background-color: #280575;
}


body{
    
    font-family: "Kanit", serif;
    font-weight: 200;
    font-style: normal;    
}

.loading-spinner{
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-message {
    color: #ff0000;
    display: block;
    font-weight: 300;
    padding: 24px 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 0;
}

.ok-message {
    color: #008925;
    display: block;
    padding: 0 12px;
    text-align: center;
}

.validation-message {
    display: block;
    font-size: 13px;
    padding: 0 12px;
    text-align: center;

}


.no-error-message {
    display: none;
}

.no-validation-message {
    display: none;
}

.no-ok-message {
    display: none;
}

