.pagination-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px 0 16px;


    p {
        font-size: 16px;
        font-weight: 300;
        padding: 0 16px;

    }

    .pagination-btn-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 0;

        .pgn-action-btn-prev,
        .pgn-action-btn-next {
            border: none;
            background: transparent;
            cursor: pointer;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                font-size: 18px;
            }
        }

        .pgn-action-btn-prev {
            margin: 0 26px 0 0;
        }

        .pgn-action-btn-next {
            margin: 0 0 0 26px;
        }

        .pgn-index-btn {
            background: transparent;
            border-style: none;
            cursor: pointer;
            padding: 0 16px;
            font-size: 16px;

        }

        .current-page {
            color: #f5752b;
        }
    }
}