.cart-container {
    width: 100%;
    height: 100vh;

    section {
        width: 100%;
        padding-left: 24px;
        padding-right: 24px;

        .cart-content-empty {
            height: 100vh;
            padding-top: 100px;

            .empty-cart-container {
                text-align: center;

                h1 {
                    font-size: 32px;
                }

                a {
                    text-decoration: none;
                    font-size: 22px;
                    color: #000;
                    border-bottom: 1px solid;
                    margin-top: 12px;
                }
            }

        }

        .cart-content {
            overflow-y: scroll;
            height: 70vh;
            padding-top: 88px;

            .cart-items {
                width: 100%;
                margin: 0 0 60px;

                .cart-title-img {
                    display: flex;
                    flex-direction: row;


                    .cart-img {
                        width: 68px;
                        height: 68px;
                        min-width: 68px;
                        margin: 0 16px 0 0;

                        a {
                            display: block;
                            width: 100%;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                                min-width: 100%;
                            }
                        }

                    }

                    .cart-title-price {
                        width: auto;

                    }
                }

            }

            .qty-items {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 44px;

                .qty-btn {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border: 0.5px solid #828282;
                    width: 106px;
                    padding: 6px;
                    border-radius: 3px;

                    svg {
                        font-size: 20px;
                    }
                }

                .cart-item-price {
                    font-weight: 600;
                    color: #000000b7;
                    
                }

                .cart-item-price.mmm {
                    font-weight: 200;
                    text-decoration: line-through;
                   

                }

                .cart-item-sale_price{
                    font-weight: 600;
                     color: #c90000;

                }
            }
        }

        .checkout-container {
            height: 30vh;
            display: flex;
            flex-direction: column;
            // align-items: center;
            justify-content: center;

            .checkout-btn {
                width: 100%;
                background-color: #351401;
                border-style: none;
                padding: 12px 24px;
                border-radius: 5px;

                a {
                    color: #181818;
                    text-decoration: none;
                    display: block;
                }

            }

            .payment-methods{
                img{
                    width: calc(100% / 6);
                }
            }

            p {
                font-size: 15px;
                display: flex;
                justify-content: space-between;
                font-weight: 300;

                span{
                    font-weight: 600;
                    font-size: 15px;
                }

                .discount-total{
                    color: #c90000;
                }
            }
            .total{
                margin: 16px 0;
                font-size: 18px;

                span{
                    font-size: 18px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .cart-container {
        width: 100%;
        height: 100vh;
        padding: 75px 0 0;

        .shopping-cart{
            font-size: 38px;
            font-weight: 400;
            padding: 0 24px 0;
            margin: 48px 0 0;
        }

        section {
            width: 100%;
            height: 100%;
            padding-left: 24px;
            padding-right: 24px;
            display: flex;

            .cart-content-empty {
                height: 100vh;
                padding-top: 100px;
                width: 100%;
                text-align: center;

                .empty-cart-container {
                    text-align: center;

                    h1 {
                        font-size: 32px;
                    }

                    a {
                        text-decoration: none;
                        font-size: 22px;
                        color: #000;
                        border-bottom: 1px solid;
                        margin-top: 12px;
                    }
                }

            }

            .cart-content {
                overflow-y: scroll;
                height: auto;
                padding: 0;
                margin: 48px 0 0;
                width: 67%;
                scrollbar-width: none;



                .cart-items {
                    width: 225px;
                    

                    .cart-title-img {
                        display: flex;
                        flex-direction: column;


                        .cart-img {
                            width: 58px;
                            height: 58px;
                            min-width: 58px;
                            margin: 0 16px 0 0;

                            a {
                                display: block;
                                width: 100%;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                    min-width: 100%;
                                }
                            }

                        }

                        .cart-title-price {
                            width: auto;

                            .cart-product-title {
                                margin: 12px 0 0;
                            }
                            

                            .cart-product-qty {
                                font-size: 13px;
                                margin: 6px 0;

                            }

                        }
                    }

                }

                .qty-items {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: start;
                    margin-top: 0px;

                     .cart-item-price.mmm {
                    font-weight: 200;
                    text-decoration: line-through;
                    font-size: 13px;

                }

                    .qty-btn {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 3px 12px;

                        margin: 12px 0 0;


                        svg {
                            font-size: 20px;
                            cursor: pointer;
                        }
                    }

                }
            }


            .checkout-container {
                width: 33%;
                height: 100%;
                justify-content: start;
                margin: 84px 0 0;


                .checkout-btn {
                    width: 100%;
                    
                    border-style: none;
                    padding: 12px 0;
                    transition: color 350ms ease;
        

                        a{
                            &:hover{
                                color: #fff;
                            }
                        }
                    
                }
            
            }
        }
    }
}