.reset-password-main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000001e;

    .reset-password-container {
        width: 368px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 12px;
        border-radius: 12px;

        box-shadow: rgba(156, 156, 156, 0.1) 0px 4px 12px;

        p {
            text-align: center;
            margin-bottom: 30px;

        }

        .header-password-reset {
            font-size: 30px;
            font-weight: 300;
        }

        .reset-password-form {
            display: flex;
            flex-direction: column;
            width: 100%;

            input {
                padding: 12px 6px;
                // color: #fff;
                margin-bottom: 24px;
                background: transparent;
                border-style: none;
                border-bottom: 1px solid #efdd54;


                &:focus {
                    border: 1px solid #efdd54;
                    outline: #efdd54;

                }
            }

            button {
                height: 45px;
                border: none;
                background-color: #efdd54;
                cursor: pointer;
                margin-bottom: 8px;
                font-size: 16px;
            }
        }
    }
}

