.home-main {
    width: 100%;
    height: 100vh;
    position: relative;
    // background-color: #181818;

    .hero-video {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            // object-fit: cover;
        }
    }

    .Products-main {
        width: 100%;
        padding: 36px 0;
        margin: 3px 0;
        background-color: #fff;

        h2 {
        

            font-size: 22px;
            color: #181818;
            font-weight: 500;
            text-align: center;
            margin: 0 auto 36px;
            text-align: left;
            padding: 0 0 0 24px;
        }


        .home-categories-container {
            // margin: 3px 0;
            // padding: 26px;
            display: flex;
            // flex-wrap: wrap;
            justify-content: space-between;
            overflow-x: auto;
            scroll-behavior: smooth;
            // padding: 48px 0;
            // background-color: #f5752b;



            .home-categories {
                box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                background-color: #fff;
                margin: 0 24px 0;
                flex: 0 0 auto;
                height: 125px;
                width: 145px;

                border-radius: 6px;
                border-bottom: 1px solid #f5752b;
                display: flex;
                justify-content: center;
                align-items: center;


                p {
                    cursor: pointer;

                    a {
                        text-decoration: none;
                        color: #000;
                        // font-weight: 300;
                        // font-size: 19px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .category-img {
                            height: 75px;
                            width: 75px;
                            // background-color: #c90000;
                            // border: 1px solid black;
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            // margin: 0 0 12px;


                            img {
                                width: 100%;
                                height: auto;
                                object-fit: cover;
                                object-position: -10%;
                            }



                        }

                        span {
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }

    .home-super-deals {
        width: 100%;
        min-height: 800px;
        position: relative;
        background-color: #181818;
        margin: 0 0 12px;

        h2 {
            // color: #efdd54;
            color: #f5752b;

            font-size: 43px;
            padding: 60px 0 0 36px;
            line-height: 1.2;
        }



        .home-super-deals-content {
            width: 100%;
            border-radius: 10px 0 0 10px;
            position: absolute;
            top: 50%;
            left: 0%;
            transform: translate(-0%, -50%);
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            overflow-x: auto;
            scrollbar-width: none;
            -ms-overflow-style: none;
            margin: 36pX 0 0;
            padding: 0 0 0 26px;

            a {

                text-decoration: none;
                color: #05211d;
                flex: 0 0 300px;

                .super-deal-product {
                    min-height: 500px;
                    background-color: #f5f5f5;
                    margin: 0 0 0 10px;
                    border-bottom: 2px solid #f5752b;
                    border-top: 2px solid #f5752b;
                    padding: 0 24px;

                    transition: transform 0.3s ease;

                    .super-deal-img {
                        height: 390px;
                        display: flex;
                        justify-content: center;
                        align-items: center;


                        img {
                            width: 190px;
                            padding: 0 12px;
                        }
                    }

                    p {
                        font-size: 18px;
                        // font-weight: 400;

                    }

                    #title {

                        font-weight: 400;

                    }

                    #price {
                        text-decoration: line-through;
                    }

                    #sale-price {
                        color: #c90000;
                        font-size: 20px;
                        font-weight: 600;
                    }

                    &:hover {
                        transform: translateY(-8px);
                    }
                }
            }
        }
    }

    .home-new-product {
        width: 100%;
        height: auto;
        margin: 0 0 12px;
        padding: 0 12px 36px;

        .home-new-product-content {
            display: flex;
            flex-direction: column;
            height: auto;

            .home-new-product-video {
                width: 100%;

                overflow: hidden;
                margin: 0 0 36px 0;

                video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .home-new-product-info {
                display: flex;
                flex-direction: column;
                justify-content: center;

                margin: 0 auto;

                h2 {
                    font-size: 30px;
                    line-height: 1.3;
                    color: #181818;
                    text-align: center;
                }

                .home-new-product-subtitle {
                    font-size: 16px;
                    margin: 0 0 36px 0;
                    color: #f5752b;
                }

                p {
                    font-size: 16px;
                    margin: 0 0 36px 0;
                    padding: 0 40px;
                    text-align: center;
                }

                .price-box{
                    position: relative;
                    height: auto;
                
                    
                    .price-box-label{
                        font-size: 30px;
                        font-weight: 600;
                        color: #f5752b;
                        margin: 0 0 12px;
                    }
                    
                    .price-box-amount{
                        font-weight: 600;
                        font-size: 20px;
                        color: #181818;
                    }
                    img{
              position: absolute;
              width: 80px;
              top: 45%;
              right: 7%;
              transform: translate(-7%, -45%);
          }
                }

                .home-new-product-actions {
                    width: 100%;
                    text-align: center;
                    button {
                        width: 110px;
                        padding: 8px 0;
                        border-style: none;
                        background-color: #f5752b;
                        border-radius: 5px;
                        a {
                            text-decoration: none;
                            display: block;
                            color: #181818;
                            font-size: 13px;
                        }
                    }
                }
            }

        }
    }

    .newlatter-container {
        padding: 0 12px;
        height: 450px;
        position: relative;
        background-color: #f5752b;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 0 12px;
        box-shadow: 0 -3px 8px -6px rgba(17, 17, 26, 0.12);

        .newsletter-text {
            h2 {
                font-size: 22px;
                margin: 0 0 12px;
                line-height: 1;    
                color: #fff;     
            }

            p {
                margin: 0 0 48px;
                font-size: 13px;
                font-weight: 300;
                color: #181818;
            }

            .newlatter-policy {
                position: absolute;
                top: 77%;
                transform: translateY(-77%);
                font-size: 16px;

                a {
                    color: #181818;
                    font-weight: 600;
                }
            }
        }

        .newsletter-form {
            form {
                width: 100%;
                position: relative;
                

                input {
                    width: 100%;
                    height: auto;
                    border-style: none;
                    border-bottom: 1px solid #181818;
                    background: transparent;
                    height: 40px;
                  

                    &:focus {

                        padding: 0 48px 0 12px;
                        outline: 1px solid #181818;
                        border-bottom: none;
                    }
                }

                button {
                    position: absolute;
                    right: 1%;
                    top: 50%;
                    transform: translate(-1%, -50%);
                    background: transparent;
                    border-style: none;
                }
            }
        }
    }
}


@media screen and (min-width: 768px) {
    .home-main {

    // background-color: #181818;

        .Products-main {
h2{
            max-width: 478px;
            padding: 0 0 0 0;


}

            .home-categories-container {
                // padding: 26px;
                display: flex;
                justify-content: center;
                // padding: 0;


                .home-categories {
                    // border: 1px solid transparent;
                    // border-radius: 0;
                    margin: 0 12px 0;
                    border-bottom: 1px solid #f5752b;

                    p {

                        cursor: pointer;

                        a {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            text-decoration: none;
                            // color: #000;
                            // font-weight: 400;
                            // font-size: 19px;

                            .category-img {

                                // background-color: #c90000;
                                // border: 1px solid black;
                                position: relative;
                                // margin: 0 0 12px;


                                img {
                                    width: 100%;
                                    height: auto;
                                    object-fit: cover;
                                    object-position: -10%;
                                }



                            }

                            &:hover {
                                color: #f5752b;
                            }
                        }
                    }
                }
            }
        }

        .home-super-deals {
            width: 100%;
            min-height: 800px;
            position: relative;
            background-color: #181818;
            // margin: 0 0 36px;

            h2 {
                // color: #efdd54;
                color: #f5752b;
                font-size: 48px;
                padding: 60px 0 0 88px;
            }



            .home-super-deals-content {
                width: 75%;
                // border-top: 5px solid #e6e6e6;
                // border-bottom: 5px solid #e6e6e6;
                // border-left: 5px solid #e6e6e6;
                border-radius: 10px 0 0 10px;
                position: absolute;
                top: 50%;
                left: 100%;
                transform: translate(-100%, -50%);
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                overflow-x: auto;
                scrollbar-width: none;
                -ms-overflow-style: none;
                // margin: 60px 0 0;
                min-height: 532px;


                a {
                    cursor: pointer;

                    .super-deal-product {
                        min-height: 500px;
                        background-color: #f5f5f5;
                        margin: 0 0 0 10px;

                        padding: 0 24px;

                        transition: transform 0.3s ease;

                        .super-deal-img {
                            height: 390px;
                            display: flex;
                            justify-content: center;
                            align-items: center;


                            img {
                                width: 190px;
                            }
                        }

                        p {
                            font-size: 18px;
                            // font-weight: 400;

                        }

                        #title {

                            font-weight: 400;

                        }

                        #price {
                            text-decoration: line-through;
                            // font-weight: 600;
                            font-size: 16px;


                        }

                        #sale-price {
                            color: #c90000;
                            font-size: 18px;
                            font-weight: 600;
                        }

                        &:hover {
                            transform: translateY(-8px);
                        }
                    }
                }
            }


        }

        .home-new-product {
            width: 100%;
            height: auto;
            margin: 0 0 12px;
            padding: 0;
    
            
            
            .home-new-product-content {
                display: flex;
                flex-direction: row;
                height: auto;
                
                .home-new-product-video {

                    width: 60%;
                    height: 500px;
                    overflow: hidden;
                    margin: 0;
                    
                    video {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: 0% 0%;
                        // height: 3oo;
                        
                    }
                }
                
                .home-new-product-info {
                    padding: 0 0 0 5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    
                    margin: 0 auto;
                    
                    h2 {
                        color: #181818;
                        text-align: left;

                    }
                    
                    .home-new-product-subtitle {

                        margin: 0 0 24px;

                    }
                    
                    p {
                        font-size: 16px;
                        width: 355px;
                        margin: 0 0 36px;
                    padding: 0;

                        text-align: left;
                        
                        
                    }
                    
                    .price-box{
                        height: auto;
                        width: auto;
                        position: relative;

                        .price-box-label{
                            font-size: 30px;
                            font-weight: 600;
                            color: #f5752b;
                            margin: 0 0 12px;
    
                        }
                        
                        .price-box-amount{
                            font-weight: 600;
                            font-size: 24px;
                            color: #181818;
                        }

                        img{
                            position: absolute;
                            width: 80px;
                            top: 50%;
                            right: 26%;
                            transform: translate(-26%, -50%);
                        }
                    }

                    .home-new-product-actions {
                        text-align: left;
                        button {
                            a {
                                transition: color 350ms ease;
                                &:hover{
                                    color: #fff;
                                }
                            }
                        }
                    }
                }

            }
        }


        .more-section {
            height: 100%;

            .caption-img {
                width: 50%;
                height: 100%;
                position: absolute;
                right: 0;
                display: block;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .about-sound {
                height: 100%;
                width: 50%;
                position: absolute;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 60px;

            }
        }

        .newlatter-container {
            padding: 0 36px;
            height: 290px;
            // background-color: #262626;
            // background-color: #f7f7f7;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            // margin: 0 0 48px;
            box-shadow: 0 -3px 8px -6px rgba(17, 17, 26, 0.12);


            .newsletter-text {


                h2 {
                    font-size: 30px;
                    margin: 0 0 36px;


                }

                p {
                    width: 330px;
               
                    margin: 0;
                

                }

                .newlatter-policy {
                    position: static;
                    margin: 48px 0 0;
                }


            }

            .newsletter-form {
                width: 50%;

                form {
                    width: 350px;
                    position: relative;
                    margin: 0 auto;

                    input {
                        width: 100%;
                        height: auto;
                        border-style: none;
                        border-bottom: 1px solid #000000a5;
                        background: transparent;
                        height: 40px;
                        // color: #000000a5;

                    }

                    button {
                        position: absolute;
                        right: 1%;
                        top: 50%;
                        transform: translate(-1%, -50%);
                        background: transparent;
                        border-style: none;
                    }
                }
            }

        }
    }
}