.user-data-container {

    width: 100%;
    // background-color: #0000001e;

    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


    .user-data-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 12px;

        .user-data-content {
            width: 368px;
            height: 550px;
            padding: 0 12px;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            // background-color: #00000003;
            box-shadow: rgba(156, 156, 156, 0.1) 0px 4px 12px;
            border-radius: 12px;

            .sign-in-sound {
                font-size: 16px;
                font-weight: 500;
                margin: 0 0 24px;


            }

            .sign-text {
                font-size: 13px;
                margin: 0 0 36px;
                text-align: center;
                padding: 0 24px;
            }

            h1 {
                font-size: 35px;
                margin-bottom: 30px;
            }

            form {
                input {
                    width: 100%;
                    padding: 12px 6px;
                    margin-bottom: 24px;
                    background: transparent;
                    border: 1px solid transparent;
                    border-bottom: 1px solid #181818;
                    font-size: 16px;
                    // color: #fff;

                    &:focus {
                        border: 1px solid #181818;
                        outline: #181818;

                    }
                }

                button {
                    width: 100%;
                    height: 45px;
                    border: none;
                    cursor: pointer;
                    margin-bottom: 8px;
                    background-color: #181818;
                    font-size: 16px;
                    color: #fff;

                }
            }

            div {
                text-align: left;
                width: 100%;

                a {

                    color: #000;
                    text-decoration: none;

                }
            }
        }

    }


}

@media screen and (min-width: 768px) {
    .user-data-container {
        padding: 75px 0 0;
    }
}

.signout-btn-container {
    .signout-btn {
        padding: 0 0 6px;

        background: transparent;

        border: none;
        font-size: 16px;
        border-bottom: 1px solid #000;
    }

}

@media screen and (min-width: 768px) {
    .signout-btn-container {
        .signout-btn {
            cursor: pointer;
        }

    }
}