.Products-main {
    padding-top: 70px;
    
    .search-word {
        display: flex;
        justify-content: center;
        height: auto;
        margin: 48px 24px 68px;

        h1,
        .searched {
            font-size: 19px;
            font-weight: 500;
            color: #040f38;
        }

        .searched {
            color: #040f38;
            margin: 0 0 0 8px;
            background-color: #f5752b;
            border-radius: 5px;
            padding: 0 5px;

        }
    }

    .products-container {
        .products-toolbar {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            padding: 0 16px;

            .path {
                font-size: 28px;
                font-weight: 500;
                margin: 28px 0 38px;
            }

            .search-text-wrapper{
                margin: 28px 0 0;

                h2{
                    font-size: 18px;
                    font-weight: 300;

                    span{
                    font-size: 18px;
                    }
                }

                h1{
                    font-size: 28px;
                font-weight: 500;
                margin: 0 0 38px;


                }
            }

            .filter-btns {
                display: flex;
                justify-content: space-between;

                .filter-btn {
                    width: auto;
                    height: 35px;
                    border-style: none;
                    background: transparent;
                    cursor: pointer;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    color: #090e20;
                    font-size: 18px;

                    svg {
                        margin: 0 0 0 10px;
                        font-size: 18px;
                        // fill: #efdd54;

                    }
                }
            }


        }

        .product-wrapper {
            display: flex;
            position: relative;
            height: 300px;
            border-bottom: 1px solid #d3d3d3;
            border-top: 1px solid #d3d3d3;
            background-color: #f5f5f5;
            margin-top: 24px;

            a {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                text-decoration: none;
                color: #000;

                .product-img-wrapper {
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .product-img {
                        width: 145px;
                        padding-left: 12px;
                        padding-right: 12px;

                        img {
                            width: 100%;
                        }
                    }

                }

                .product-details {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: left;

                    #title {
                        font-size: 18px;
                        font-weight: 400;
                    }

                    #price {
                        font-size: 18px;
                        font-weight: 600;
                        color: #000000;
                    }

                    
                    #price.mmm{
                         color: #000000;
                         text-decoration: line-through;
                         font-weight: 200;
                         font-size: 16px;
                    }

                    #sale_price{
                            color: #c90000;
                            font-size: 18px;
                            font-weight: 600;

                    }
                }
            }

            .admin-actions-btn {

                position: absolute;
                top: 98%;
                right: 0;

                transform: translateY(-98%);


                button {

                    border: none;
                    background: none;

                }

                svg {
                    margin-right: 34px;
                    font-size: 30px;
                }
            }
        }

    }
}

@media screen and (min-width: 768px) {
    .Products-main {
        .search-word {
            display: flex;
            justify-content: start;
            margin: 12px 16px 12px;

            h1,
            .searched {
                font-size: 26px;
            }
        }

        .products-container {
            display: flex;
            flex-wrap: wrap;

            .products-toolbar {
                height: auto;

                .path {
                    font-size: 38px;

                    span {
                        font-size: 38px;
                    }
                }

                .search-text-wrapper{
                    h2{
                        font-size: 20px;
                       
                        span{
                        font-size: 20px;
                        }
                    }
    
                }

                .filter-btn {
                    width: 140px;
                    height: 40px;

                    svg {
                        margin: 0 0 0 15px;
                    }
                }
            }

            .product-wrapper {
                width: calc(100% / 4 - 4px);
                flex-wrap: wrap;
                flex-direction: column;
                transition: transform 0.3s ease;
                height: 500px;
                margin: 8px 2px;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;


                    .product-img-wrapper {
                        width: 100%;
                        height: 390px;
                      
                        .product-img {
                            width: 190px;

                            img {
                                width: 100%;
                            }
                        }
                    }

                    .product-details {
                        width: 100%;
                        padding: 0 24px;

                        #title {
                            font-size: 18px;

                        }



                        #price {
                            font-size: 18px;

                        }

                    }
                }

                .admin-actions-btn {
                    position: absolute;
                    top: 5%;
                    transform: translateY(-5%);
                    cursor: pointer;

                    svg {
                        margin-right: 28px;
                        font-size: 24px;
                    }
                }

                &:hover {
                    transform: translateY(-8px);
                }

            }

        }
    }
}

.ll {
    border-bottom: 1px solid #c42424;
}